.bloc-activité {
 
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, minmax(0, 66px));
    gap: 1rem;     
} 

.bloc-activité>article{
    grid-row: span 3;
    background-color:var(--couleur-du-background-pricipal);
    border-radius: 1rem;
    box-shadow: 1px 1px 3px -1px var(--couleur-gris);


}
.bloc-activité .portrait {
    
    grid-row: span 6;

}

.bloc-activité .untiers{

    grid-row: span 2;

}

.bloc-activité .deuxtiers{
    grid-row: span 4;

}




