.Titres {

    font-size: 1rem;
}

#Titre_principal {
    font-weight: bold;
}

.Formulaire_saisie_ville {

    display: inline-flex;
    flex-grow: 1;
    flex-direction: row;
    border: 1px solid black;
    padding: 0%;
    border-radius: 1rem 1rem 1rem 1rem;
    border-style: inherit;
}

.Résultat_de_recherche {

    display: flex;
    align-items: center;
}

#Rechercher .Logo_gps {

    border: 1px solid var(--couleur-blanc);
    background-color:var(--couleur-blanc);
    padding: .8rem;
    align-self: center;
    border-radius: 1rem 0 0 1rem;    
}


#Rechercher>button{

    background-color: var(--couleur-bleue);
    color: white;
    font-family: "Raleway" Arial, sans-serif;
    font-weight: bold;
    padding: 0 1.5rem;
    border-radius: 0 .8rem .8rem 0;
    border: none;
    cursor: pointer;
}


.Filtre {
    --taillebordure: 3px;
    display: flex;
    border: var(--taillebordure) solid var(--couleur-blanc);
    margin: .8rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #FFF;
    align-items: center;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    transition: ease 0.5s;
}

.Filtre > *{

    padding: .8rem;
    
}

.Filtre > .Picto {

    color: var(--couleur-bleue);
    background-color: var(--dégradé-bleu);
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: calc(-1*var(--taillebordure));
    border: var(--taillebordure) solid var(--dégradé-bleu);
}

.Zone_des_filtres {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
}

input {

    border-left: none;
    border-right: none;
    border: 1px solid var(--couleur-blanc);
    padding: 0 20px;
}

.Filtre:hover {

    background-color: rgb(201, 219, 247);
    cursor: pointer;
    transform: scale(1.05);
    
    
}

