   .footer {
    width: 100%;
    background: var(--couleur-blanc);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blocs-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
  }
  
  .bloc-footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .bloc-footer > * {
    margin-bottom: 1rem;
  }
  
  .titre-footer {
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  
  .liens-footer:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }
  
  .bloc-assistance {
    margin-right: 20%;
  }

  @media screen and (max-width: 584px) {
    .blocs-footer {
      display: inline-flex;
      flex-direction: column;
    }
    .blocs-footer .bloc-footer {
      padding: 10px 20px;
    }
  }