.Onglets>ul {

    display:flex;
    justify-content: flex-end;
    list-style: none;

}

.Onglets li {

    display: block;
    
}

.Onglets .Actif {

    border-top: 2px solid #0065FC;
    color:#0065FC;
    margin: 0rem 1rem;
   
}

.Onglets a {

    padding: 2rem;
    text-decoration: none;
    color: inherit;

}

.Onglets .Important {

    font-weight: bold;
    color: #0065FC;
}

