.Onglets>ul {

    display:flex;
    justify-content: flex-end;
    list-style: none;
    align-items: baseline;

}

.Onglets li {

    display: block;
    
    
}

.Onglets .Actif a{  
    display: inline-block;
    box-sizing: border-box;
    color: var(--couleur-bleue);
    margin: -1rem 1rem;
    border-top: 2px solid var(--couleur-bleue);
   
}

.Onglets a {

    padding: 1.9rem;
    text-decoration: none;
    color: inherit;
    

}

.Onglets .Important {

    font-weight: bold;
    color: var(--couleur-bleue);
}


