.Onglets > ul {
  justify-content: flex-end;
  list-style: none;
  align-items: baseline;
}

.Onglets li {
  display: block;
}

.Onglets .Actif a {
  color: var(--couleur-bleue);
  border-top: 2px solid var(--couleur-bleue);
}

.Onglets a {
  display: inline-block;
  padding: 2.5rem;
  text-decoration: none;
  color: inherit;
}

.Onglets .Important {
  font-weight: bold;
  color: var(--couleur-bleue);
}

.Onglets > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  justify-content: flex-end;
}

@media all and (max-width: 584px) {
  .Onglets li {
    border-bottom: 2px solid var(--couleur-blanc);
  }

  .Onglets .Actif a {
    border-top: none;
  }

  .Onglets > ul {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  .Onglets .Actif {
    border-color: var(--couleur-bleue);
  }
}
