.Pictostylisé {
  display: flex !important;
  color: var(--couleur-bleue);
  border: 2px solid var(--couleur-blanc);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 584px) {
  .Pictostylisé {
    flex-wrap: wrap;
  }
}
