.Pictostylisé {

    display: inline-block;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    width: 1rem;
    padding: .8rem;
    margin-right: 1rem;
    text-align: center;
}

.étoile-pleine {

    color: var(--couleur-bleue);
}

.étoile-vide {

    color: var(--couleur-gris);
}

.blocs-complets:hover {

    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.5s;
}