.écran-S {
    display: none;
}

@media all and (max-width:584px){

    .header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo cta"
                             "tabs tabs";
        height: 100%;                         
    }

    .écran-L{

    display: none;
    }

    .Onglets li{

        width: 100%;
    }
    
    .écran-S {
        display: inline;
    }
    
    .Zone_des_filtres{

        flex-direction: column;
        align-items: flex-start;
    }

    #Rechercher {
        width: 100%;        
    }


}

@media all and (max-width:768px){

    .Zone_des_filtres {

        width: 90%;
    }


}