@media all and (max-width: 584px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "logo . cta"
      "tabs tabs tabs";
    font-weight: 500;
    text-align: center;
    padding: 0;
  }

  .Logo {
    padding: 0 2rem;
    padding-bottom: 1rem;
  }

  .cta {
    padding-bottom: 1rem;
    margin-right: 2rem;
  }

  #Titre_principal {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-align: start;
    
  }

  .Filtres_et_recherche {
    align-content: center;
  }

  .Zone_des_filtres {
    align-items: baseline;
    display: flex;
    flex-direction: column;
  }

  .zone-hébergements{
    flex-direction: column-reverse;
  }
  
}
