#wrap {

    font-size: 16px;
    margin: 2rem 2rem;
    max-width: 1440px;
    padding: 0 2rem;
    box-sizing: border-box;
}


.Filtres_et_recherche>* {

    margin: 1rem 0;

}

header{
    display: flex;
    justify-content:space-between;

}
.hébergements-global {
    width:55rem;
    border: 2px solid transparent;
    background-color:var(--couleur-blanc);
    border-radius: 1rem;    
}    


.blocs-complets {
    
    display: grid;
    align-self: center;
    align-content: stretch;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--couleur-blanc);
    width: 12.9rem;
    
   
}

.blocs-complets>*{

    display: flex;
    flex-direction: column;
}
.titre-h2 {

    margin: 1rem 0 0 1rem;

}

.plus-de-résultats {

    margin: 0 0 1rem 1rem;
}

.texte-hôtel {

display: flex;
flex-direction: column;
padding: .3rem;
}