body {

    font-family: "Raleway", "Open sans", serif;

}

.blocs-résultats {

    font-size: .6rem;
    font-family: "Raleway", Arial, sans-serif;
    background-color: var(--couleur-blanc);
}

.titre-h2 {

    font-family: "Raleway", Arial, sans-serif;
    font-size: .9rem;
    font-weight: bold;
}


.plus-de-résultats {

    font-weight: bold;
}

.texte-hôtel {

    display: flex;
    flex-direction: column;
    padding: .3rem;
    line-height: 1.01rem;

}

.texte-hôtel2 {

    display: flex;
    flex-direction: column;
    padding: .5rem;
    line-height: 1.3rem;
    font-size: .8rem;


}

.nom-hôtels {

    font-size: .8rem;
    line-height: 1rem;
}

.lieux-activités {

    font-size: .8rem;
    font-weight: bold;
    margin-top: .6rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: transparent;
    width: 100%;
    margin-left: .5rem;

}

.titre-activité {

    margin-top: 4rem;
    margin-left: 1.4rem;  
}

.titre-populaire {

    padding-bottom: 0.3rem;
}

.titre-section {

    margin-bottom: 1rem;
}

.cta {
    color: var(--couleur-bleue);
    font-weight: bold;
    text-decoration: none;
}