body {
  font-family: "Raleway", "Open sans", serif;
}

.titre-h2 {
  font-family: "Raleway", Arial, sans-serif;
  margin-bottom: 1.5rem;
  /* font-size: 1rem;
  font-weight: bold;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.plus-de-résultats {
  font-weight: bold;
}

.résultats + * {
  margin-top: 1rem;
}

.nom-hôtels {
  font-size: 0.8rem;
  line-height: 1rem;
}

.lieux-activités {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.6rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: transparent;
  margin-left: 0.5rem;
}

.titre-activité {
  margin-top: 4rem;
  margin-left: 1.4rem;
}

.titre-populaire {
  padding-bottom: 0.3rem;
}

.titre-section {
  margin-bottom: 1rem;
}

.cta {
  color: var(--couleur-bleue);
  font-weight: bold;
  text-decoration: none;
}
