.body{
    font-family: "raleway", sans-serif;
    font-size: 16px;
    margin :20 20 20 20px;
    background-color: #F2F2F2;
}

/*header*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 2rem;
}

nav li {
    margin: 0 3rem 0 2rem;
}

#Menu1 {
    border-top: 2px #0065FC solid; 
      
}

#Menu2 {
    color: grey;
}

#Menu3 {
    color: #0065FC;
    font-weight: bold;
}

/*fin header*/

.Titres {

    font-size: 1rem;
}

#Titre_principal {
    font-weight: bold;
}

.Formulaire_saisie_ville {

    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    border: 1px solid black;
    padding: 0%;
    border-radius: 1rem 1rem 1rem 1rem;
    

}

.Logo_gps {
    color: black;
    box-sizing: content-box;
    width: auto;
    height: auto;
    border: 5px solid #f2f2f2 ;
    padding: 5px;
    align-self: center;
    
   
}

#Rechercher {

    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 0 1.5rem;
    box-sizing: content-box;
    width: 9rem;
    font-size: 1rem;
    font-family: "Raleway" Arial, sans-serif;
    font-weight: bold;
}

.Boutton {

    background-color: #0065FC;
    color: white;
    font-family: "Raleway" Arial, sans-serif;
    font-weight: bold;
    padding: 0 1.5rem;
    border-radius: 0 1rem 1rem 0;
}

.Zone_des_filtres {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Logo_et_filtres {

    display: flex;
    justify-content: space-between;
    margin: 0.3rem;
}

.Logo_des_filtres {

    color: #0065FC;
    background-color: #DEEBFF;
    margin-left: 1rem;
    border: 1px solid #F2F2F2;  
}

.Titre_de_la_zone {

    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.Résultat_de_recherche {

    display: flex;
    align-items: center;
}

.Icône_résultat {

    background-color: #0065FC;
    color: #DEEBFF;
}


